@import url('https://fonts.googleapis.com/css?family=Bevan');

/* Site Wrapper */
#site_wrapper {
	font-family: Arial;
	font-size: 24px;
    border: 10px solid #337AB7;
}
#site_wrapper p {
    word-wrap: break-word;
}



/* Main, Sub, and Inner Sections */
.main_section {
}
.sub_section {
/*Test Properties*/
	padding: 20px 0px; /* If double scroll bar appears due to slider */
}
@media screen and (max-width: 1200px) {
	.sub_section {
/*Test Properties*/
		padding: 10px 0px;
	}
}
#sub_section_personal {
	border-bottom: 10px solid #337AB7;
}
#sub_section_education {
	padding-right: 25px;
	max-width: 50%;
}
#sub_section_skills {
	padding-left: 25px;
	max-width: 50%;
}
#sub_section_experience {
	max-width: 50%;
}
#sub_section_project {
	max-width: 50%;
}
.inner_section {
	padding: 0px 20px;
}
@media screen and (max-width: 1200px) {
	#sub_section_education,
	#sub_section_skills,
	#sub_section_experience,
	#sub_section_project {
		max-width: 100%;
	}
}
#sub_section_created {
	border-top: 10px solid #337AB7;	
}





/*****Start of sub_section_personal*****/
/* Description */
#description h1 { /* Name */
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	
	position: relative;
	margin: 30px 0px 10px 0px;
}
.self_details { /* Container with Details about self (citizenship, nric, marital status, etc) */
	text-align: center;
}
.self_details li {
	font-size: 24px;
}
#self_desc { /* Description about self */
	font-size: 24px;
	text-align: center;
	padding: 0px 5px 0px 5px;
}
@media screen and (max-width: 1200px) {
	#description {
		padding: 10px 0px;
	}
	#description h1 {
		text-align: center;
	}
	#self_desc {
		display: none;
	}
}

/* Photo */
#photo {
	flex: 0.5; /* Smaller Middle Section */
}
#photo p { /* Photo Container */
	text-align: center;
}
#photo img { /* Photo of self */
	width: 200px;
	height: 200px;
	
	border: 3px solid #1C1D21;
	border-radius: 50%;
	padding-top: 25px;
}
@media screen and (max-width: 1200px) {
	#photo {
		order: -1; /* Display photo first before desc and contact */
		padding: 10px 0px;
	}
}

/* Contact */
#contact p {
	font-size: 24px;
	text-align: right;
}
#contact img {
	width: 50px;
	height: 50px;
	padding: 5px;
}
@media screen and (max-width: 1200px) {
	#contact {
		display: flex;
		flex-flow: row wrap; /* Change into row layout */
		justify-content: space-between;
		padding: 10px 0px;
	}
	#contact p {
		text-align: center;
		padding: 5px 5px;
		flex: 1;
	}
	#contact img {
		display: none;
	}
}
/*****End of sub_section_personal*****/





/*****Start of sub_section_education*****/
/* Education */
#education h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 0px 0px 15px 0px;
}
.edu_entries { /* Education Container */
	position: relative; /* relative for year and grade absolute positioning */
}
.edu_entries:not(:first-child) {
	margin-top: 25px; /* space between edu container */
}
.edu_entries > * {
	margin: 0px;
}
.edu_year,
.edu_grade {
	font-size: 24px;
	font-weight: bold;
	color: #337AB7;
	
	position: absolute;
	top: 0px;
}
.edu_year {
	left: 0px;
}
.edu_grade {
	right: 0px;
}
.edu_course {
	font-size: 34px;
	font-weight: bold;
	padding-top: 26px; /* space for year and grade */
}
.edu_institute {
	font-size: 30px;
}
.achievement_lists {
	list-style-type: circle;
	padding-left: 18px; /* padded left to align list icon */
}
.achievement_lists li {
	font-size: 24px;
}
@media screen and (max-width: 1200px) {
	#education {
		text-align: center;
		margin: 25px 0px 15px 0px;
	}
}

/* Major Subjects */
#majorSubjects h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 30px 0px 15px 0px;
}
#majorSubjects li {
	font-size: 24px;
}

/*****End of sub_section_education*****/





/*****Start of sub_section_skills*****/
/* Skills */
#skills h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 0px 0px 15px 0px;
}
#skills h2 { /* Skills Categories */
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
}
#skills li { /* Skills Entries */
	font-size: 24px;
}
#skillChartWrapper { /* Skill Chart */
	width: 80%;
	margin: 0px auto;
}
@media screen and (max-width: 1200px) {
	#skills h1 {
		margin: 25px 0px 15px 0px;
	}
	#skillChartWrapper {
		width: 60%;
	}
}

/* Qualities */
#qualities h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 25px 0px 5px 0px;
}
#qualities p {
	font-size: 26px;
}
#qualities .progress {
	margin-bottom: 5px;
	height: 26px;
}
#qualities .progress-bar {
	font-size: 24px;
	text-align: left;
	padding-left: 25%;
	font-weight: bold;
}

/* Languages */
#languages h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 25px 0px 5px 0px;
}
#languages li {
	font-size: 24px;
	display: inline-block;
	padding-right: 25px;
}

/* Interests */
#interests h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 25px 0px 5px 0px;
}
#interests li {
	font-size: 24px;
	display: inline-block;	
}
#interests li:not(:first-child)::before {
	content: ' | ';
}
/*****End of sub_section_skills*****/





/*****Start of sub_section_experience*****/
/*---Experience---*/
#experiences h1 {
	font-size: 36px ;
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 25px 0px 15px 0px;
}
.work_entries {
	margin: 0px 50px 35px 50px;
	position: relative; /* positioning for absolute border bottom */
}
/* Border bottom for .work_entries */
/*.work_entries::after {
	content: "";
	background-color: rgb(51, 122, 183);
	position: absolute;
	bottom: 0;
	left: 32.5%;
	height: 1px;
	width: 35%;
}*/
.work_place {
	text-align: center;
	width: 100%;
	font-size: 36px;
	font-weight: bold;
	/*display: inline-block;*/
}
.work_department {
	font-size: 24px;
	font-style: italic;
	/*display: inline-block;*/
}
.work_period {
	font-size: 24px;
	display: inline-block;
	padding-right: 10px;
}
.work_role {
	font-size: 24px;
	display: inline-block;
	padding-left: 10px;
	border-left: 5px solid rgb(51, 122, 183);
}
.work_achievement p {
	font-size: 26px;
	padding-top: 10px;
	color: rgb(51, 122, 183);
	display: block;
	font-weight: bold;
}
.work_achievement_lists {
	list-style-type: circle;
	padding-left: 18px; /* padded left to align list icon */
}
.work_achievement_lists li {
	font-size: 26px;
}
/* Notable Projects */
#projects {
}
#projects h1 {
	font-family: 'Bevan', Arial;
	text-align: center;
	margin: 25px 0px 15px 0px;
}
.project_entries {
	margin-bottom: 15px;
}
.project_entries p:first-child {
	font-size: 16px;
	border-left: 5px solid rgb(51, 122, 183);
	padding-left: 3px;
}
.project_entries a {
	font-size: 16px;
}
/*****End of sub_section_experience*****/





/*****Start of sub_section_created*****/
#footer {
	text-align: center;
}
/*****End of sub_section_created*****/
